header {
    display: block;
    width: 100%;
    height: 30px;
}

body{
  font-family: Arial, sans-serif;
}
ul {
    padding-inline-start: 0px;
}

li {
    display: inline-block;
    padding-left: 15px;
    cursor: pointer;
    
}

li a {
    font-family: arial, sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    text-decoration: none;
    line-height: 24px;
}

li a:hover {
    text-decoration: underline;
}

.headleft {
    float: left;
}

.headright {
    float: right;
}

appgrid{
    
}

.logo {
    display: block;
    height: 92px;
    width: 272px; 
    margin: 0 auto; 
    padding-top: 160px;
    padding-bottom: 25px;  
}
.searcharea {
    box-sizing: border-box;
    display: block;
    height: 44px;
    width: 484px;
    margin: 0 auto;
    position: relative;
}

.miclogo img   {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    
}

.searchbar  {
    box-sizing: border-box;
    border: 1px solid #ddd;
    display: block;
    height: 44px;
    width: 482px;
    margin: 0 auto;
    border-radius: 25px;
    padding-inline-start: 20px;
    padding-inline-end: 50px;
    position: relative;
    font: 16px arial, sans-serif;
}

.searchbar:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.searchbtn {
    display: block;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
   
}
.searchbtn input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 12px;
    text-align: center;
    -webkit-appearance: push-button;
}

.searchbtn input:hover {
    border: 1px solid rgb(186, 186, 186);
    color: rgba(0, 0, 0, 0.87);
}

.footbar {
    display: block;
    border: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    line-height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 980px;
    margin: 0;
}

.footbar li a {
    color: rgb(95, 99, 104)
}

.footleft {
    float: left;
    padding: 10px;
}

.footright {
    float: right;
    padding: 10px;
}